body {
    overflow-x: hidden; /* Prevent horizontal scroll */
}


.jobs-filter-container{
    background-color:rgb(230, 231, 234);
    height:100vh;
    padding-left: 5%;
    
      
}

.filter-mainhead{
    font-size: 22px;
    font-weight: 600;
    font-family: "roboto";
    margin-top: 2%;
    margin-bottom: 2%;
    color: #000000;
}
/*filters Section*/

.filters-section-container{
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right:10px;
    border-radius: 10px;

}
.filter-icon {
    height:24px;   
    margin-top:0px;
    margin-right: 3px;
    padding-top: 5px;
}
.filter-subhead{
    padding-top:5px;
    font-family: "roboto";
    font-size: 18px;
}  

/* select-boxes sections*/

  .select-box-container {
    position: relative;/* Ensure relative positioning for absolute children */
    margin-bottom: 100px;
}
  
  .select-box-label {
    font-family: "roboto";
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    cursor: pointer;
    outline: none; /* Remove default focus outline */
    list-style: none; /* Remove default list-style for summary */
    margin-bottom: 0; /* Remove default margin for summary */
  }
  
  
  .options {
    display: none;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 200px; /* Set a maximum height for the options container */
    overflow-y: auto; /* Enable vertical scroll if options exceed max-height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .select-box-container[open] .options {
    display: flex;
  }
  
  .options label {
    font-size: 20px;
    color: black;
    padding: 10px;
    cursor: pointer;
  }
  
  .options label:hover {
    background-color: #f0f0f0;
  }
  
  .content,
  .down-content {
    padding: 10px 0;
  }
  .dropdown-icon{
        height: 20px;
        padding:2px;
        margin-left: 10px;

  }




  