body {
    overflow-x: hidden; /* Prevent horizontal scroll */
}


.jobs-filter-container{
    background-color:rgb(230, 231, 234);
    height:100vh;
    padding-left: 20%;
    margin-top:8%;
    
  
}

/*filters Section*/

.filters-section-container{
    background-color: rgb(255, 255, 255);
}
.filter-icon {
    height:22px;   
    margin-top:2px;
    display: block;
    margin-right: 3px;
    padding-top: 5px;
}
.filter-mainhead{
    padding-top:5px;
    font-family: "roboto";
    font-size: 18px;

}
